.DS_Store
Library/
Library/VoiceTrigger/
Library/VoiceTrigger/SAT/
.cursor/
.vscode/
*.code-workspace
__pycache__/
*.py[cod]
*$py.class
.env
venv/
.DS_Store
.cache/
.config/
.ipynb_checkpoints/
.local/
.npm/
.python_history
node_modules/
*.pyc
__pycache__/
